---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
DerivePointerBinding: false
AllowShortFunctionsOnASingleLine: true
Standard: Cpp20
Language: Cpp
AllowShortIfStatementsOnASingleLine: true
BreakBeforeBraces: Allman
PointerAlignment: Left
IncludeBlocks: Preserve
SortIncludes: true
